@import "variables";

.video-wrapper {
    position: relative;
    padding-bottom: (56.25% * 0.8); /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */
    width: 80%;
    margin: 0px auto (34px + 45px);
    .video-controls {
        background-color: #222;
        position: absolute;
        bottom: -34px;
        right: 0;
        left: 0;
    }
    .control {
        position: absolute;
        top: 50%;
        margin-top: -43px;
        padding: 20px 10px;
        overflow: hidden;
        color: #222;
        &.prev {
            left: -75px;
        }
        &.next {
            right: -75px;
        }
    }
    .youtube-player {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 1200px) {
    .main-container {
        padding-left: 0;
        padding-right: 0;
    }
    .main-menu {
        .mat-tab-link {
            font-size: 16px !important;
            span {
                padding-left: 5px !important;
                padding-right: 9px !important;
            }
            [svgIcon] {
                padding: 2px 9px 2px 9px !important;
                svg {
                    transform: scale(1) !important;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .video-wrapper {
        margin: 0px auto (66px + 45px);
        .video-controls {
            bottom: -66px;
        }
        .view,
        .sub {
            width: 50%;
            text-align: center;
        }
        .stats {
            float: none !important;
            display: block !important;
            table {
                padding: 4px 0px 0 32px !important;
                width: 100% !important;
            }
        }
    }
    .main-menu {
        .mat-tab-link {
            font-size: 16px !important;
            span {
                padding-left: 5px !important;
                padding-right: 5px !important;
            }
            [svgIcon] {
                padding: 2px 0px 2px 0px !important;
                svg {
                    transform: scale(1) !important;
                }
            }
        }
    }
}
@media screen and (max-width: 576px) {
    .control {
        display: none;
    }
    .video-wrapper {
        padding-bottom: (56.25%);
        width: 100%;
    }
}
