@import url("https://fonts.googleapis.com/css?family=Lato:400, 300, 300italic, 400italic, 700, 700italic");

// fonts
$font-family: "Lato", Helvetica, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-size: 100%;
    background-color: #f0f0f0;
}
body {
    margin: 0;
    overflow-y: scroll;
}

* {
    font-family: $font-family;
    line-height: $font-height;
}
.pointer {
    cursor: pointer;
}
.w-100 {
    width: 100%;

    &.mat-card-header {
        .mat-card-header-text {
            margin-left: 0;
            margin-right: 0;
        }
        * {
            width: 100%;
        }
    }
}

hr {
    border: dashed 1px #eee;
}

h1 {
    font-size: 50px !important;
    padding: 20px 0;
    line-height: 50px !important;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f41765;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: lighten($color: #f41765, $amount: 10%);
}

[svgIcon].lg {
    padding: 2px 9px;
    svg {
        transform: scale(2);
    }
}
[svgIcon="youtube"].color {
    svg {
        fill: #c4302b;
    }
}
[svgIcon="unity"].color {
    svg {
        fill: #fff;
    }
}
.youtube-bgcolor {
    background-color: #c4302b;
}
.lacuna-dark-bgcolor {
    background-color: #9f0b3f;
}
.toolbar-flex {
    flex: 1 0.5 auto;
}
.main-menu {
    nav {
        border-bottom-style: none;
        background-color: #f8f8f8;
        .mat-tab-link-container {
            .mat-tab-link {
                color: black !important;
                opacity: 1;
                padding: 15px;
                // padding-bottom: 15px;
                height: auto;
                border-left: 1px;
                box-shadow: 0 1px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
                background-color: white;
                font-size: 20px;
                margin-bottom: 1px;
                span {
                    opacity: 0.8;
                    padding-left: 5px;
                    padding-right: 30px;
                }
                [svgIcon] {
                    padding: 2px 9px 2px 30px;
                    svg {
                        transform: scale(1.3);
                    }
                }
                svg {
                    fill: black;
                }
            }
        }
    }
}
.nav-menu {
    border-radius: 0 !important;
    > div {
        padding: 0 !important;
        hr {
            margin: 0 !important;
        }
    }
}
.cdk-global-scrollblock {
    left: initial !important;
    top: initial !important;
    position: relative !important;
    overflow-y: initial !important;
}
.description {
    > div:first-child {
        height: 85px;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            pointer-events: none;
            width: 100%;
            height: 20px;
        }
    }
    > div:last-child {
        margin-top: 15px;
        padding-top: 5px;
        border-top: dashed 1px #ccc;
        text-align: center;
        color: #ccc;
    }
    &.light > div:last-child {
        border-top-color: #ddd;
        color: #ddd;
    }
}

.mat-tab-labels {
    > [role="tab"] {
        background-color: #f8f8f8;
        &.mat-tab-label-active {
            background-color: #fff;
            font-weight: bold;
        }
    }
}
.mat-tab-body-wrapper {
    background-color: white;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}
.mat-tab-body-content > div {
    padding: 15px;
}

.vid-shadow {
    background-color: #333;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.dark-table {
    td {
        color: white !important;
    }
    svg {
        fill: white !important;
    }
}

.fill-black {
    svg {
        fill: black;
    }
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mat-icon {
    box-sizing: content-box !important;
}

.comment {
    position: relative;
    padding-left: 55px;
    padding-top: 15px;
    .thumbnail {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        top: 15px + 2.5px;
        left: 0;
    }
    .author {
        font-weight: bold;
        font-size: 16px;
    }
    .timestamp {
        font-weight: normal;
        color: #aaa;
        font-size: 12px;
    }
    .toolbar {
        border-spacing: 0;
        border-collapse: separate;
        color: #aaa;
        td {
            width: 1px;
            &:nth-child(even) {
                vertical-align: text-top;
                padding-right: 15px;
            }
        }
        .mat-icon {
            padding-top: 2px;
            padding-right: 5px;
            height: 16px;
            width: 16px;
        }
    }
    .comment {
        padding-left: 40px;
        img {
            width: 30px;
            height: 30px;
        }
    }
    .replies {
        position: relative;
        padding-top: 2px;
        padding-left: 30px;
        cursor: pointer;
        .mat-icon {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    a {
        color: #9f0b3f;
        text-decoration: none;
        font-weight: bold;
    }
}

.mat-bottom-sheet-container,
.mat-card-content {
    a {
        color: #9f0b3f;
        text-decoration: none;
    }
}
