<div *ngIf="Videos && Playlists">
    <h1 style="text-align: center;">LATEST YOUTUBE VIDEOS</h1>
    <div class="row">
        <span class="col-lg-4" *ngIf="Videos.length == 1"></span>
        <span class="col-lg-2" *ngIf="Videos.length == 2"></span>
        <div class="col-lg-4 col-md-6" *ngFor="let video of Videos" style="margin-bottom: 45px;">
            <mat-card class="example-card">
                <div style="font-size: 19px; text-align: center; padding-bottom: 10px;" class="truncate">{{video.name}}</div>
                <img mat-card-image [src]="video.thumbnail" [routerLink]="'/youtube/'+video.remoteId" class="pointer" />
                <mat-card-content>
                    <div class="description pointer light" (click)="openBottomSheet(video.description)">
                        <div [innerHtml]="video.description"></div>
                        <div>View More</div>
                    </div>
                    <hr />
                    <div class="row" style="text-align: center; font-size: 85%;">
                        <span class="col-3">{{video.views}} views</span>
                        <span class="col-3">{{video.likes}} likes</span>
                        <span class="col-3">{{video.comments}} comments</span>
                        <span class="col-3">{{video.downloadables}} assets</span>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
