<div *ngIf="Videos && Playlists">
    <div class="video-wrapper">
        <a *ngIf="previousVideoInSeries()" [routerLink]="['/youtube',previousVideoInSeries().remoteId]" class="control prev">
            <mat-icon svgIcon="chevron-left" style="transform: scale(5);"></mat-icon>
        </a>
        <a *ngIf="nextVideoInSeries()" [routerLink]="['/youtube',nextVideoInSeries().remoteId]" class="control next">
            <mat-icon svgIcon="chevron-right" style="transform: scale(5);"></mat-icon>
        </a>
        <div class="vid-shadow">
            <iframe
                class="youtube-player"
                [src]="EmbedUrl"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
        </div>
        <div class="video-controls">
            <a
                href="https://www.youtube.com/channel/UCO8iVbK5YAT_Gmd41WwzJ2w?sub_confirmation=1"
                target="_blank"
                style="float: left; padding: 6px 16px; color: white; text-decoration: none;"
                class="lacuna-dark-bgcolor sub"
            >
                SUBSCRIBE
            </a>
            <a [href]="ViewUrl" target="_blank" class="view" style="float: left; padding: 6px 16px; color: white; text-decoration: none;">View on Youtube</a>
            <a [href]="ViewUrl" target="_blank" style="float: right; text-decoration: none;" class="stats">
                <table style="padding: 4px 16px 0;" class="dark-table" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="width: 24px;"><mat-icon svgIcon="eye"></mat-icon></td>
                        <td style="vertical-align: text-top; padding: 0 10px;">{{SelectedVideo.views}}</td>
                        <td style="padding-left: 30px; width: 24px;"><mat-icon svgIcon="thumb-up"></mat-icon></td>
                        <td style="vertical-align: text-top; padding: 0 10px;">{{SelectedVideo.likes}}</td>
                        <td style="padding-left: 30px; width: 24px;"><mat-icon svgIcon="chat"></mat-icon></td>
                        <td style="vertical-align: text-top; padding: 0 10px;">{{SelectedVideo.comments}}</td>
                        <td style="padding-left: 30px; width: 24px;"><mat-icon svgIcon="cloud-download"></mat-icon></td>
                        <td style="vertical-align: text-top; padding: 0 10px;">{{SelectedVideo.downloadables}}</td>
                    </tr>
                </table>
            </a>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>

<mat-tab-group (selectedIndexChange)="selectedIndexChanged($event)" [selectedIndex]="SelectedTabIndex">
    <mat-tab>
        <ng-template mat-tab-label>
            <span [id]="tabStuff[0]">Comments</span>
        </ng-template>

        <div *ngIf="Comments.length == 0" style="text-align: center; font-size: 20px; color: #bbb;">
            <div style="padding: 15px 0;">There are no comments on this video yet.<br /><b>Go on, add one!</b></div>
        </div>
        <div *ngIf="Comments.length > 0">
            <div *ngFor="let commentsL1 of Comments" class="comment">
                <img [src]="commentsL1.thumbnail" class="thumbnail" />
                <div class="author">{{commentsL1.author}} <span class="timestamp">{{commentsL1.timestamp | date | relativeTime}}</span></div>
                <div class="text" [innerHtml]="commentsL1.text"></div>
                <table class="toolbar">
                    <tr>
                        <td *ngIf="commentsL1.likes>0"><mat-icon svgIcon="thumb-up"></mat-icon></td>
                        <td *ngIf="commentsL1.likes>0">{{commentsL1.likes}}</td>
                    </tr>
                </table>
                <div class="replies" *ngIf="commentsL1.replies.length > 0" (click)="commentsL1.toggleReplies = !commentsL1.toggleReplies">
                    <div *ngIf="commentsL1.toggleReplies"><mat-icon svgIcon="chevron-up"></mat-icon> Hide Replies</div>
                    <div *ngIf="!commentsL1.toggleReplies"><mat-icon svgIcon="chevron-down"></mat-icon> Show Replies</div>
                </div>
                <div *ngIf="commentsL1.toggleReplies">
                    <div *ngFor="let commentsL2 of commentsL1.replies" class="comment">
                        <img [src]="commentsL2.thumbnail" class="thumbnail" />
                        <div class="author">{{commentsL2.author}} <span class="timestamp">{{commentsL2.timestamp | date | relativeTime}}</span></div>
                        <div class="text" [innerHtml]="commentsL2.text"></div>
                        <table class="toolbar">
                            <tr>
                                <td *ngIf="commentsL2.likes>0"><mat-icon svgIcon="thumb-up"></mat-icon></td>
                                <td *ngIf="commentsL2.likes>0">{{commentsL2.likes}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span [id]="tabStuff[1]">FAQ</span>
        </ng-template>
        <div *ngIf="FAQs.length == 0" style="text-align: center; font-size: 20px; color: #bbb;">
            <div style="padding: 15px 0;">
                Nobody has asked a question on <a href="https://discord.gg/EVJ2wpt" style="color: #bbb;" target="_blank">discord</a> yet.<br /><b
                    >Have something in mind?</b
                >
            </div>
        </div>
        <div *ngIf="FAQs.length > 0">
            <div *ngFor="let faq of FAQs" class="comment">
                <mat-icon svgIcon="comment-question" class="thumbnail"></mat-icon>
                <div class="author">{{faq.question}}</div>
                <div class="text" [innerHTML]="faq.answer"></div>
            </div>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span [id]="tabStuff[2]">Tutorial Resources</span>
        </ng-template>
        <div *ngIf="Downloadables.length == 0" style="text-align: center; font-size: 20px; color: #bbb;">
            <div style="padding: 15px 0;">
                Expected to find something here?<br /><b>
                    Let us know on <a href="https://discord.gg/EVJ2wpt" style="color: #bbb;" target="_blank">discord</a></b
                >.
            </div>
        </div>
        <div *ngIf="Downloadables.length > 0">
            <div class="row">
                <!-- style="width: 250px; float: left; margin-right: 15px; border-radius: 0;" -->
                <div class="col-xl-3 col-lg-4 col-md-6" style="padding-bottom: 15px;" *ngFor="let downloadable of Downloadables">
                    <mat-card style="background-color: #f8f8f8;">
                        <mat-card-header class="w-100">
                            <mat-card-title style="text-align: center;">{{downloadable.name}}</mat-card-title>
                        </mat-card-header>
                        <div mat-card-image style="background-color: #222;" *ngIf="downloadable.type == YoutubeVideoDownloadableTypes.UnityPackage">
                            <mat-icon svgIcon="unity" class="color" style="width: 100%; height: 150px;"></mat-icon>
                        </div>
                        <mat-card-content>
                            <div class="description pointer" (click)="openBottomSheet(downloadable.description)">
                                <div [innerHtml]="downloadable.description"></div>
                                <div>View Full Description</div>
                            </div>
                        </mat-card-content>
                        <mat-card-actions>
                            <a mat-raised-button color="primary" class="w-100" [href]="getDownloadableHandle(downloadable)" rel="nofollow">Download</a>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>
