<div style="display: flex; flex-direction: column; min-height: 100vh;">
    <div style="flex: 1 0 auto;">
        <div *ngIf="Videos && Playlists">
            <div style="text-align: center; background-color: #222; padding: 35px 0; position: relative;z-index: 5;">
                <img src="/assets/Logo-Wide-Dark.png" style="max-width: 100%; max-height: 250px;" />
                <div style="position: absolute;top: 0;bottom: 0;right: 0;left: 0;background-repeat: no-repeat;background: url(https://wallpapertag.com/wallpaper/full/2/1/6/813534-background-simple-tumblr-3000x2000-for-lockscreen.jpg);background-size: cover;opacity: 0.15;background-position-y: -50px;z-index: -1;"></div>
            </div>

            <div class="main-menu">
                <nav mat-tab-nav-bar>
                    <span class="toolbar-flex"></span>
                    <a mat-tab-link [matMenuTriggerFor]="youtube"><mat-icon svgIcon="youtube"></mat-icon> <span>YouTube</span></a>
                    <a mat-tab-link href="https://www.patreon.com/DistortedPixelStudios" target="_blank"><mat-icon svgIcon="patreon"></mat-icon> <span>Patreon</span></a>
                    <a mat-tab-link routerLink="/udemy"><mat-icon svgIcon="school"></mat-icon> <span>Udemy</span></a>
                    <a mat-tab-link routerLink="/suggestions"><mat-icon svgIcon="clipboard-check"></mat-icon> <span>Suggestions</span></a>
                    <a mat-tab-link routerLink="/assets"><mat-icon svgIcon="shopping"></mat-icon> <span>Assets</span></a>
                    <span class="toolbar-flex"></span>
                </nav>
            </div>

            <mat-menu #youtube="matMenu" class="nav-menu">
                <a mat-menu-item href="https://www.youtube.com/channel/UCO8iVbK5YAT_Gmd41WwzJ2w" target="_blank" style="position: relative;">
                    View Channel<mat-icon svgIcon="open-in-new" style="position: absolute; right: -7px; top: 12px;"></mat-icon>
                </a>
                <hr />
                <a mat-menu-item routerLink="/youtube">
                    Channel Overview
                </a>
                <hr />
                <span *ngFor="let playlist of Playlists">
                    <span *ngIf="getVidsByPlaylist(playlist).length > 0">
                        <a mat-menu-item [matMenuTriggerFor]="menu" [routerLink]="['/youtube/playlist/', playlist.id]">{{playlist.name}}</a>
                        <mat-menu #menu="matMenu" class="nav-menu">
                            <span *ngFor="let video of getVidsByPlaylist(playlist)">
                                <a mat-menu-item [routerLink]="['/youtube/', video.remoteId]">{{video.name}}</a>
                            </span>
                        </mat-menu>
                    </span>
                </span>
            </mat-menu>
        </div>

        <div *ngIf="Videos && Playlists">
            <div class="container main-container" style="padding-top: 30px; padding-bottom: 30px;">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div style="flex-shrink: 0;">
        <!-- <a mat-button href="https://twitter.com/DPStudiosDev" target="_blank"><mat-icon svgIcon="twitter"></mat-icon> Twitter</a> -->
        <!-- <a mat-button href="https://www.instagram.com/distorted_pixel_studios" target="_blank"> <mat-icon svgIcon="instagram"></mat-icon> Instagram </a>-->
        <div style="background-color: #222; height: 150px;"></div>
    </div>
</div>
