<!-- <youtube-player videoId="n4N9VEA2GFo" suggestedQuality="hd1080"></youtube-player> -->
<div *ngIf="Suggestions">
    <h1 style="text-align: center;">SUGGESTIONS</h1>
    <p
        *ngIf="Suggestions.length==0"
        style="font-size: 100px; color: #e0e0e0; text-align: center; border-top: 1px dashed #e0e0e0; border-bottom: 1px dashed #e0e0e0;"
    >
        COMING SOON
    </p>
    <div *ngIf="Suggestions.length>0">
        <p style="text-align: center;">
            Here you can vote on topics that you would like us to make tutorials on, each month every account is assigned 1 vote. Additional votes are made
            available to our <b>Patreon</b> supporters and also to our <b>Udemy and Skillshare</b> students. <br />
            This mechanism ensures our content remains as good as you expect it to be!
        </p>
        <div class="row">
            <div class="col-12 col-xxl-6" *ngFor="let item of Suggestions">
                <mat-card style="margin-top: 15px; position: relative;">
                    <div style="position: absolute; right: 9px; top: 9px;">
                        <span style="border-right: dashed 1px #ddd; margin-right: 25px; padding: 10px 20px; font-weight: bold;">{{item.votes}}</span>
                        <button mat-flat-button color="primary">Place Vote</button>
                    </div>
                    <div>
                        {{item.name}}
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>
